.header {
  &__title {
    font-size: 1.4rem;
    line-height: 1.5;
    text-transform: uppercase;
  }
}

.header-toolbar {
  background: $clr-red-900;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: .4em .7em;
  font-size: 1.3rem;
  line-height: 1.5;

  &__item {
    margin: 0 .2em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
